// ==========================================================================
// Vendor - framework libraries
// Boostrap
// ==========================================================================
@import "../bower_components/index";


//NAVIGATION

.top-nav {
  float:none;
  text-align: center;
  //padding adjusted for logo in top left
  padding-right:145px;

  li{
    display:inline-block;
    float:none;
  }
}

//JUMBOTRON
.homepage{
  margin-top:50px;
}